<div class="status-pane">
  <div style="width: 45%; float: left;">
    <resource-indicator current-state="mainCtrl.currentState">
    </resource-indicator>
  </div>
  <age-indicator age="mainCtrl.currentState.age" progress="mainCtrl.currentState.ageProgress">
  </age-indicator>
</div>

<div class="main-pane">
  <timeline time="mainCtrl.currentState.time" time-scale="mainCtrl.timeScale">
  </timeline>
  <div class="time-indicator" style="left: {{35 + mainCtrl.currentState.time * mainCtrl.timeScale}}px">
    {{ mainCtrl.currentState.time|duration }}
  </div>
  <div class="build-order">
    <div ng-repeat="queue in mainCtrl.buildOrderService.queues|orderBy:'start'" 
         ng-show="!queue.empty" 
         style="position:relative; left: {{queue.start*mainCtrl.timeScale}}px;">
      <div class="icon-{{queue.source}} icon"></div>
      <div class="items">
        <build-order-item ng-repeat="item in queue.items" 
                          item="item" 
                          time-scale="mainCtrl.timeScale" 
                          style="left: {{item.start * mainCtrl.timeScale}}px;">
        </build-order-item>
      </div>
    </div>
    <timeline-container time-scale="mainCtrl.timeScale">
      <div ng-repeat="sequence in mainCtrl.buildOrderService.assignmentSequences">
        <reassignment 
            sequence="sequence" 
            time-scale="mainCtrl.timeScale"
            style="position:relative; left: {{35 + sequence[0].start * mainCtrl.timeScale}}px">
        </reassignment>
      </div>
    </timeline-container>
  </div>
<!--   <timeline-container time-scale="mainCtrl.timeScale">
    <build-order-item 
        start-time="{{item.start}}"
        ng-repeat="item in mainCtrl.buildOrderService.queues[0].items"
        item="item"
        time-scale="mainCtrl.timeScale">
    </build-order-item>
  </timeline-container>
 -->
  <div class="task-distribution">
    <task-count 
        ng-repeat="assignment in mainCtrl.currentState.assignments"
        task-count="assignment"
        selection="mainCtrl.selection">
    </task-count>
  </div>
  <error message="mainCtrl.error"></error>  
</div>
<div class="bottom-pane">
  <div class="bottom-left">
    <build-pane
        current-state="mainCtrl.currentState"
        selection="mainCtrl.selection"
        error="mainCtrl.error">
    </build-pane>
  </div>
  <div class="bottom-center">
    <selection selection="mainCtrl.selection"></selection>
  </div>
</div>