timeline-picker {
  display: block;
  height: 30px;

  > .container {
    height: 100%;
    padding: 2px;
    font-size: 9pt;
  }
}

timeline-container {
  display: block;
  
  > .container {
    display: block;
    position: relative;
  }
}