age-indicator {
  .age-indicator {
    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.5), 
                inset 1px 1px 1px rgba(255,255,255,0.8); 
    width: 165px;
    background: gray;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .age-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: red;
  }

  .age-name {
    position: relative;
  }
}
