<div class="palette-container">
<div class="palette">
  <div ng-show="!ctrl.selection.assignable"> 
    <div>
      <input type="button" 
             ng-repeat="unit in ctrl.rulesService.units"
             ng-show="unit.age <= ctrl.currentState.age.index" 
             class="icon-{{ unit.id }} button"
             ng-click="ctrl.train(unit)"
             ng-disabled="!ctrl.currentState.hasBuilding[unit.source]"></input>
    </div>
    <div>
      <input type="button" 
             ng-repeat="tech in ctrl.rulesService.technologies"
             ng-show="tech.age <= ctrl.currentState.age.index && !ctrl.hasStartedTechnology[tech.id]" 
             class="icon-{{ tech.id }} button"
             ng-click="ctrl.research(tech)"
             ng-disabled="!ctrl.currentState.hasBuilding[tech.source]"></input>
    </div>
  </div>
  <div ng-show="ctrl.selection.assignable && !ctrl.taskVerb">
   <input type="button" 
        ng-repeat="(taskVerb, taskObjects) in ctrl.selection.assignable.tasks"
        class="icon-{{ taskVerb }} button"
        ng-click="ctrl.taskVerb = taskVerb"></input>
    <input type="button" 
        class="icon-cancel button cancel-button"
        ng-click="ctrl.selection.reset()"></input>
  </div>    
  <div ng-show="ctrl.taskVerb">
    <input type="button" 
        ng-repeat="task in ctrl.tasks"
        class="icon-{{ task.object }} button"
        ng-click="ctrl.assign(task)"></input>
    <input type="button" 
        class="icon-cancel button cancel-button"
        ng-click="ctrl.taskVerb = null"></input>
  </div>
</div>
</div>
