build-order-item {
  display: inline-block;
  position: absolute;

  .item {
    position: relative;
  }

  .left-icon {
    position: absolute; 
    left: 3px;
  }

  .right-icon {
    position: absolute; 
    right: 3px;
  }
}
