@import 'common';

build-pane {

  .palettes-container {
    height: 100%;
  }

  .palette {
    position: relative;
    float: left;
    width: 283px;
    height: 100%;
    overflow-y: auto;
    padding: 12px 34px;  
  }

  input {
    border: none;
    outline: none;
  }

  .button {
    @extend .icon;
    cursor: pointer;
    margin: 1px;
    overflow: hidden;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,0.5), 
                inset 2px 2px 2px rgba(255,255,255,0.8); 
    user-select: none;
  }

  .button:active {
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.8), 
                inset 2px 2px 2px rgba(0,0,0,0.5);   
  }

  .button:disabled {
    filter: grayscale(100%);
    box-shadow: none;  
    cursor: not-allowed;
  }  

  .cancel-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

