@import 'common';

build-pane {
  .palette-container {
    display: inline-block;
    position: relative;  
    width: 345px;
    height: 130px;
    overflow-y: auto;
  }

  .palette {
    overflow:visible;
    float: left;
  }

  input {
    border: none;
    outline: none;
  }

  .button {
    @extend .icon;
    cursor: pointer;
    margin: 2px;
    overflow: hidden;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,0.5), 
                inset 2px 2px 2px rgba(255,255,255,0.8); 
    user-select: none;
  }

  .button:active {
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.8), 
                inset 2px 2px 2px rgba(0,0,0,0.5);   
  }

  .button:disabled {
    filter: grayscale(100%);
    box-shadow: none;  
    cursor: not-allowed;
  }  

  .cancel-button {
    position: absolute;
    right: 22px;
    bottom: 0;
  }
}

