<div class="container" 
     ng-show="shouldShow()">
  <div class="{{sequence()[0].fromTask.cssClass}} icon task-icon"
       ng-class="{hidden: sequence()[0].fromTask.initial}"></div>
  <div ng-repeat="reassignment in sequence()" 
       class="reassignment-container">
    <div style="width: {{computeWidth(reassignment)}}px">
      <div class="{{durationClass(reassignment)}}"></div>
      <div class="{{reassignment.toTask.cssClass}} left-icon task-icon"></div>
    </div>
    <div class="icon-red_arrow arrow" 
         ng-show="!reassignment.fromTask.initial">
      {{reassignment.count}}
    </div>
  </div>
</div>
