@import './common';

reassignment {
	display: inline-block;
	
	.arrow {
		position: absolute;
		left: -12px; 
		top: 10px;
		z-index: 5;
		color: white;
		font-size: 9pt;
		padding: 3px 10px;
	}

	.reassignment-container {
		display: inline-block; 
		position: relative;
		height: $icon-size;
	}

	.hidden {
		visibility: hidden;
	}
}
