reassignment {
	.container {
		margin-left: -36px;
	}

	.arrow {
		position: absolute;
		left: -12px; 
		top: 10px;
		z-index: 5;
	}

	.reassignment-container {
		display: inline-block; 
		position: relative;
		height: 36px;
	}
}
