build-order-item {
  display: inline-block;
  position: relative;

  .item {
    position: relative;
  }

  .buildable-icon {
    position: relative; 
    left: 3px;
  }

  .task-icon {
    position: relative; 
    right: 3px;
    border-radius: 50%;
  }


  .duration-bar {
    position: relative; 
    top: 18px;
    width: 100%; 
    height: 10px;
    background: blue; 
    border-radius: 3px;
  }
}
